.launch {
  display: grid;
  justify-content: center;
}

.deets {
  display: grid;
  justify-content: center;
}

.launch-personal {
  background-color: #ffffff;
  padding: 1em;
  margin-top: 1.5em;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(33, 44, 48, 0.15);
  width: 700px;
}

.launch-personal input {
  border: 1px solid #c3cfd9;
  border-radius: 4px;
  width: 300px;
  margin-left: 14em;
  height: 30px;
}
.launch-permissions {
  background-color: #ffffff;
  padding: 1em;
  margin-top: 1.5em;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(33, 44, 48, 0.15);
}

.launch-permissions input {
  border: 1px solid #c3cfd9;
  border-radius: 4px;
  width: 300px;
  margin-right: 2em;
  height: 30px;
}
